[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PBSadmb"]
	path = PBSadmb
	url = https://github.com/pbs-software/pbs-admb
	subdir = PBSadmb
[submodule "PBSddesolve"]
	path = PBSddesolve
	url = https://github.com/pbs-software/pbs-ddesolve
	subdir = PBSddesolve
[submodule "PBSmapping"]
	path = PBSmapping
	url = https://github.com/pbs-software/pbs-mapping
	subdir = PBSmapping
[submodule "PBSmodelling"]
	path = PBSmodelling
	url = https://github.com/pbs-software/pbs-modelling
	subdir = PBSmodelling
